{% extends "network/layout.html" %}

{% block title %}{{ user.username }}'s Follows{% endblock %}

{% block body %}
    <div class="body-container">
        <div class="profile-container">
            <h2>{{ user.username }}'s Follows</h2>
        </div>
        <div class="posts-container">
        {% for post in page_obj %}
            <div class="post-container" data-post="{{ post.id }}">
                <div class="post">
                    <h6><a href="profile/{{ post.user }}">{{ post.user }}</a> posted at {{ post.date}}</h6>
                    <p class="post-text">{{ post.text }}</p>
                    <span>Likes: </span>
                    <span class="num-likes">{{ post.num_likes }}</span>
                    {% if user != post.user %}
                        {% if user in post.likes.all %}
                            <button type="button" onclick="likePost(this)" data-liked="true" class="btn btn-secondary btn-sm">Unlike</button>
                        {% else %}
                            <button type="button" onclick="likePost(this)" data-liked="false" class="btn btn-success btn-sm">Like</button>
                        {% endif %}
                    {% else %}
                        <button type="button" onclick="editPost(this)" value="open" class="btn btn-success btn-sm">Edit Post</button>
                    {% endif %}
                </div>
                <div class="post-edit hidden">
                    <h6><a href="profile/{{ post.user }}">{{ post.user }}</a> posted at {{ post.date}}</h6>
                    <div class="form-group" >
                        <textarea rows="5" class="form-control edit-form" name="text" placeholder="New Post" maxlength="500"></textarea>
                    </div>
                    <button type="button" onclick="saveEdit(this)" class="btn btn-success btn-sm">Save Edit</button>
                    <button type="button" onclick="editPost(this)" value="close" class="btn btn-secondary btn-sm">Cancel</button>
                </div>
            </div>
        {% endfor %}
            <nav class="paginator" aria-label="...">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}