{% extends "network/layout.html" %}

{% block title %}All Posts{% endblock %}

{% block body %}
    <div class="body-container">
        {% if user.is_authenticated %}
            <div class="form-container">
                {% if message %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                <form id="compose-form" action="/create_post" method="POST">
                    {% csrf_token %}
                    <div class="form-group" >
                        <textarea class="form-control" name="text" placeholder="New Post" maxlength="500"></textarea>
                    </div>
                    <input type="submit" class="btn btn-success"/>
                </form>
            </div>
        {% endif %}
        <div class="posts-container">
        {% for post in page_obj %}
            <div class="post-container">
                <div class="post-body">
                    <h6><a href="profile/{{ post.user }}">{{ post.user }}</a> posted at {{ post.date}}</h6>
                    <p>{{ post.text }}</p>
                    <span>Likes: {{ post.num_likes }}</span>
                </div>
                {% if user.username != post.username %}
                    <div class="post-like">
                        {% if user in post.likes %}
                            <button type="button" onclick="likePost(this)" data-like="true" data-post="{{ post.id }}" class="btn btn-secondary btn-sm">Unlike</button>
                        {% else %}
                            <button type="button" onclick="likePost(this)" data-like="false" data-post="{{ post.id }}" class="btn btn-success btn-sm">Like</button>
                        {% endif %}
                    </div>
                {% else %}
                    <div>
                        <button type="button" onclick="editPost(this)" data-post="{{ post.id }}" class="btn btn-success btn-sm">Edit Post</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
            <nav class="paginator" aria-label="...">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}