{% extends "network/layout.html" %}

{% block title %}{{ profile_user.username }}'s Profile{% endblock %}

{% block body %}
    <div class="body-container">
        <div class="profile-container">
            <h2>{{ profile_user.username }}</h2>
            <div class="follow-container">
                <span>Following: {{ profile_user.num_targets }}</span>
                <span>Followers: {{ profile_user.num_followers }}</span>
            </div>
            {% if user.username != profile_user.username %}
                {% if is_following %}
                    <button type="button" onclick="followUser(this)" data-user="{{ profile_user.username }}" data-following="true" class="btn btn-secondary btn-sm">Unfollow</button>
                {% else %}
                    <button type="button" onclick="followUser(this)" data-user="{{ profile_user.username }}" data-following="false" class="btn btn-success btn-sm">Follow</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="posts-container">
        {% for post in page_obj %}
            <div class="post-container">
                <div class="post-body">
                    <h6><a href="profile/{{ post.user }}">{{ post.user }}</a> posted at {{ post.date}}</h6>
                    <p>{{ post.text }}</p>
                    <span>Likes: {{ post.num_likes }}</span>
                </div>
                {% if user.username != profile_user.username %}
                    <div class="post-like">
                        {% if user in post.likes.all %}
                            <button type="button" onclick="likePost(this)" data-like="true" data-post="{{ post.id }}" class="btn btn-secondary btn-sm">Unlike</button>
                        {% else %}
                            <button type="button" onclick="likePost(this)" data-like="false" data-post="{{ post.id }}" class="btn btn-success btn-sm">Like</button>
                        {% endif %}
                    </div>
                {% else %}
                    <div>
                        <button type="button" onclick="editPost(this)" data-post="{{ post.id }}" class="btn btn-success btn-sm">Edit Post</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
            <nav class="paginator" aria-label="...">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}