{% extends "network/layout.html" %}

{% block body %}
    <div class="body-container">
        <div class="profile-container">
            <h2>{{ profile_user.username }}</h2>
            <div class="follow-container">
                <span>Following: {{ profile_user.num_targets }}</span>
                <span>Followers: {{ profile_user.num_followers }}</span>
            </div>
            {% if user in followers %}
                <button type="button" data-following="true" class="btn btn-secondary btn-sm">Unfollow</button>
            {% else %}
                <button type="button" data-following="false" class="btn btn-success btn-sm">Follow</button>
            {% endif %}
        </div>
        <div class="post-container">
        {% for post in page_obj %}
            <div class="post" id="{{ post.id }}">
                <h6><a href="profile/{{ post.user }}">{{ post.user }}</a> posted at {{ post.date}}</h6>
                <p>{{ post.text }}</p>
                <
            </div>
        {% endfor %}
            <nav class="paginator" aria-label="...">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}